{
  "extends": "@istanbuljs/nyc-config-typescript",
  "include": [
    "packages/**/*.ts"
  ],
  "exclude":[
    "packages/**/*.d.ts",
    "packages/**/*.spec.ts"
  ],
  "extension": [
    ".ts", ".tsx"
  ],
  "reporter": [
    "lcov",
    "text-summary",
    "html"
  ],
  "check-coverage": true,
  "sourceMap": true,
  "instrument": true,
  "all": true
}
